<!DOCTYPE html>
<html lang="en">
    <body>
        <h1>Basic node app</h1>
        <form action="/result" method="POST">
            <input type="text" name="data">
            <button>Add data</button>
        </form>
    </body>
</html>